<div class="ui-grid-row">
    <div class="ui-grid-col-8">
        <div class="text-color-heading">Sala Suace</div>
        <div id="navcontainer">
<ul>
<li *ngFor="let item of items"><a href="{{item.label}}" class="anchor text-color-heading"> {{item.label}} / </a></li>
</ul>
</div>
    </div>
    <div class="ui-grid-col-4">
        <button class="button" label="Add Stock">Add Stock</button>        
        <button class="button btn-blue" label="Edit">Edit</button>
        <button class="button btn-brown" label="Delete">Delete</button>
    </div>
</div>

<!--<p-breadcrumb [model]="items"></p-breadcrumb>-->
<hr>

      <div class="sub-heading">
        
          <h4 class="text-color-heading">Ingredient Details</h4>
          <p-tabView>
    <p-tabPanel header="Basic Recipe">
   <div class="sub-heading1">    
    <div class="ui-grid-row">
    <div class="ui-grid-col-5">
        <div>
        <img src="tomato.jpg" />
        </div>
    </div>
    <div class="ui-grid-col-7">
        <div class="ui-grid-row">
            <div class="ui-grid-col-3">
        Product Name
            </div>
             <div class="ui-grid-col-9">
        <input class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>        
        </div> 
        <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        Category
            </div>
             <div class="ui-grid-col-9">
        <p-dropdown class="input-text-width" [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
            </div>        
        </div> 
        <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        SKU Code
            </div>
             <div class="ui-grid-col-9">
        <input class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>        
        </div> 
        <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        Bar Code
            </div>
             <div class="ui-grid-col-9">
        <input class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>        
        </div> 
        <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        Cost
            </div>
             <div class="ui-grid-col-3">
        <input class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>
            <div class="ui-grid-col-3">
        Unit Type
            </div>
             <div class="ui-grid-col-3">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
            </div>         
        </div>
         <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
       Product Type
            </div>
             <div class="ui-grid-col-9">
        <p-dropdown class="input-text-width" [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
            </div>        
        </div>
         <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        Minimum Stock
            </div>
             <div class="ui-grid-col-9">
        <input class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>        
        </div> 
         <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        Maximum Stock
            </div>
             <div class="ui-grid-col-9">
        <input  class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>        
        </div> 
         <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        In Stock
            </div>
             <div class="ui-grid-col-9">
        <input  class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>        
        </div>          
    </div>
    </div>    
</div>

    </p-tabPanel>
    <p-tabPanel header="Recipe">
        <p-dataTable [value]="sales" [headerRows]="headerRows" [footerRows]="footerRows">
    <p-column field="brand"></p-column>
    <p-column field="lastYearSale"></p-column>
    <p-column field="thisYearSale"></p-column>
    <p-column field="lastYearProfit"></p-column>
    <p-column field="thisYearProfit"></p-column>
</p-dataTable>
    </p-tabPanel>    
    </p-tabView>  
          
      </div>
   
    

 

<!--<div class="sub-heading1">    
    <div class="ui-grid-row">
    <div class="ui-grid-col-5">
        <div class="product-img">
        <img src="tomato.jpg" />
        </div>
    </div>
    <div class="ui-grid-col-7">
        <div class="ui-grid-row">
             <table class="TFtable">
	           <tr>
                   <td>Product Name</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Category</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>SKU Code</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>SKU Code</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Bar Code</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Product Type</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Price</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Unit Price</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Minimum Stock</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Maximum Stock</td>
                   <td>Text</td>
               </tr>	           
               </table>
          </div>  
    </div>
    </div>    
</div>-->





