<div class="ui-grid-row">
    <div class="ui-grid-col-8">
        <div class="text-color-heading">{{products[0].name}}</div>
        <div id="navcontainer">
<ul>
<li *ngFor="let item of items"><a href="{{item.label}}" class="anchor text-color-heading"> {{item.label}} / </a></li>
</ul>
</div>
    </div>
    <div class="ui-grid-col-4">
        <button class="button" (click)="goToAddIngredeint()" label="Add Stock">Add Stock</button>        
        <button class="button btn-blue" label="Edit">Edit</button>
        <button class="button btn-brown" label="Delete">Delete</button>
    </div>
</div>

<!--<p-breadcrumb [model]="items"></p-breadcrumb>-->
<hr>

<div class="sub-heading">
    <h4 class="text-color-heading">Ingredient Details</h4>
    <hr>
</div>

<div class="sub-heading1">    
    <div class="ui-grid-row">
    <div class="ui-grid-col-5">
        <div class="product-img">
        <img src="tomato.jpg" />
        </div>
    </div>
    <div class="ui-grid-col-7">
        <div class="ui-grid-row">
             <table class="TFtable">
	           <tr>
                   <td class="column1">Product Name</td>
                   <td class="column2">Text</td>
               </tr>
               <tr>
                   <td>Category</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>SKU Code</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>SKU Code</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Bar Code</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Product Type</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Price</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Unit Price</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Minimum Stock</td>
                   <td>Text</td>
               </tr>
               <tr>
                   <td>Maximum Stock</td>
                   <td>Text</td>
               </tr>	           
               </table>
          </div>  
    </div>
    </div>    
</div>





