<div id="navcontainer">
<ul>
<!--<li><a [routerLink]="['']">Sales app</a></li>-->
<li><a [routerLink]="['/home/inventorypurchase']">Purchase/Inventory/App</a></li>
<li><a [routerLink]="['/home']">Add/Remove/App</a></li>
<!--<li><a [routerLink]="['routeName']">Settings</a></li>-->
</ul>
</div>
<router-outlet></router-outlet>