<div class="ui-grid-row">
    <div class="ui-grid-col-8">
        <div class="text-color-heading">View Ingredients</div>
        <div id="navcontainer">
<ul>
<li *ngFor="let item of items"><a href="{{item.label}}" class="anchor text-color-heading"> {{item.label}} / </a></li>
</ul>
</div>
    </div>
    <div class="ui-grid-col-4">
        <button class="button" label="Add New">Add New</button>        
        <button class="button btn-blue" label="Add Stock">Add Stock</button>
        <button class="button btn-brown" label="Delete">Delete</button>
        <i class="fa fa-th" aria-hidden="true"></i>
        <i class="fa fa-list" aria-hidden="true"></i>        
    </div>
</div>
<hr>


<!--TileGrid Template-->
          <div class="ui-grid-row">
             <div class="ui-grid-col-4 tile-grid"> 
                 <div class="ui-grid-row">   
             <div class="ui-grid-col-2 tile-grid-image">
                <!--<img style="height: 58px;" src="tomato.jpg">-->
                <img style="height:58px" src="tomato.jpg">
                <!--<i class="fa fa-circle-thin;"  aria-hidden="true"></i>-->
             </div>
             <div class="ui-grid-col-10">
                 <div>Tomato</div>
                 <table>
                     <tr>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                     </tr>
                     <tr>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                     </tr>
                 </table>
             </div>
            </div>
           </div>
           
           
           <div class="ui-grid-col-4 tile-grid"> 
                 <div class="ui-grid-row">   
             <div class="ui-grid-col-2">
                <img style="height: 58px;" src="tomato.jpg">
             </div>
             <div class="ui-grid-col-10">
                 <div>Tomato</div>
                 <table>
                     <tr>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                     </tr>
                     <tr>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                     </tr>
                 </table>
             </div>
            </div>
           </div> 
           
           
           <div class="ui-grid-col-4 tile-grid"> 
                 <div class="ui-grid-row">   
             <div class="ui-grid-col-2">
                <img style="height: 58px;" src="tomato.jpg">
             </div>
             <div class="ui-grid-col-10">
                 <div>Tomato</div>
                 <table>
                     <tr>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                     </tr>
                     <tr>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                     </tr>
                 </table>
             </div>
            </div>
           </div>  
           
           <div class="ui-grid-col-4 tile-grid" *ngFor="let item of products" (click)="viewDetailOfProduct(item.id)"> 
                 <div class="ui-grid-row">   
             <div class="ui-grid-col-2">
                <img style="height: 58px;" src="tomato.jpg">
             </div>
             <div class="ui-grid-col-10">
                 <div>{{item.name}}</div>
                 <table>
                     <tr>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                     </tr>
                     <tr>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                         <td>
                             SKU CODE
                         </td>
                     </tr>
                 </table>
             </div>
            </div>
           </div>
         </div>        
      
<!--TileGrid Template-->