<div class="ui-grid-row">
    <div class="ui-grid-col-8">
        <div class="text-color-heading">Add Ingredient</div>
        <div id="navcontainer">
<ul>
<li *ngFor="let item of items"><a href="{{item.label}}" class="anchor text-color-heading"> {{item.label}} / </a></li>
</ul>
</div>
    </div>
    <div class="ui-grid-col-4">
        <button class="button" label="Save">Save</button>        
        <button class="button btn-blue" label="Save & New">Save & New</button>
        <button class="button btn-brown" (click)="goToViewIngredient()" label="Discard">Discard</button>
    </div>
</div>

<!--<p-breadcrumb [model]="items"></p-breadcrumb>-->
<hr>

<div class="sub-heading">
    <h4 class="text-color-heading">Ingredient Details</h4>
    <hr>
</div>

<div class="sub-heading1">    
    <div class="ui-grid-row">
    <div class="ui-grid-col-5">
        <div>
        <img src="tomato.jpg" />
        </div>
    </div>
    <div class="ui-grid-col-7">
        <div class="ui-grid-row">
            <div class="ui-grid-col-3">
        Product Name
            </div>
             <div class="ui-grid-col-9">
        <input class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>        
        </div> 
        <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        Category
            </div>
             <div class="ui-grid-col-9">
        <p-dropdown class="input-text-width" [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
            </div>        
        </div> 
        <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        SKU Code
            </div>
             <div class="ui-grid-col-9">
        <input class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>        
        </div> 
        <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        Bar Code
            </div>
             <div class="ui-grid-col-9">
        <input class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>        
        </div> 
        <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        Cost
            </div>
             <div class="ui-grid-col-3">
        <input class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>
            <div class="ui-grid-col-3">
        Unit Type
            </div>
             <div class="ui-grid-col-3">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
            </div>         
        </div>
         <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
       Product Type
            </div>
             <div class="ui-grid-col-9">
        <p-dropdown class="input-text-width" [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
            </div>        
        </div>
         <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        Minimum Stock
            </div>
             <div class="ui-grid-col-9">
        <input class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>        
        </div> 
         <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        Maximum Stock
            </div>
             <div class="ui-grid-col-9">
        <input  class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>        
        </div> 
         <div class="ui-grid-row row-margin">
            <div class="ui-grid-col-3">
        In Stock
            </div>
             <div class="ui-grid-col-9">
        <input  class="input-text-width" type="text" pInputText [(ngModel)]="property"/>
            </div>        
        </div>          
    </div>
    </div>    
</div>