<h1>Inventory </h1>
<div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
              <tile color="red" title="Products" image="tomato.jpg"></tile>
        </div>
        <div class="ui-grid-col-2">
              <tile (click)="goToViewIngredients()" color="green" title="Pre-Fabricated" image="tomato.jpg"></tile>
        </div>
        <div class="ui-grid-col-2">                
                 <a [routerLink]="['../view-ingredients-side']">
                 <tile  color="yellow" title="Ingredients" image="tomato.jpg"></tile> 
                 </a>               
        </div>
     </div>
   </div>
<hr>
<h1>Supplier & Puchases</h1>

<div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
              <tile color="red" title="Suppliers" image="tomato.jpg"></tile>
        </div>
        <div class="ui-grid-col-2">
              <tile color="green" title="Purchase Orders" image="tomato.jpg"></tile>
        </div>        
     </div>
   </div>


