<div class="ui-grid ui-grid-responsive ui-grid-pad app-container">
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
        <div >
        <img src="tomato.jpg" style="height:100px; width:100 px ;background-color:#EAEAEA" />
        </div>
        </div>
        <div class="ui-grid-col-2">
        <h1>Sales App</h1> 
        <div>Powered by innotical 2.0</div>
        <form id="ratingsForm">
            <div class="stars">
        <input type="radio" name="star" class="star-1" id="star-1" />
        <label class="star-1" for="star-1">1</label>
        <input type="radio" name="star" class="star-2" id="star-2" />
        <label class="star-2" for="star-2">2</label>
        <input type="radio" name="star" class="star-3" id="star-3" />
        <label class="star-3" for="star-3">3</label>
        <input type="radio" name="star" class="star-4" id="star-4" />
        <label class="star-4" for="star-4">4</label>
        <input type="radio" name="star" class="star-5" id="star-5" />
        <label class="star-5" for="star-5">5</label>
        <span></span>
           </div>
             </form>      
        </div>
        <div class="ui-grid-col-6">
        A purchase order (PO) is a commercial document and first official 
        offer issued by a buyer to a seller,
        indicating types, quantities, and agreed prices for products or services.
        A purchase order (PO) is a commercial document 
        and first official offer issued by a buyer to a seller, 
        indicating types, quantities, and agreed prices for products or services.
        </div>
        <div class="ui-grid-col-1">
        <button class="button btn-app">Add App</button>
        </div>
    </div>
</div>