<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>LightSpeed</title>
  <base href="/">
  {{content-for 'head'}}
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Service worker support is disabled by default.
       Install the worker script and uncomment to enable.
       Only enable service workers in production.
  <script type="text/javascript">
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/worker.js').catch(function(err) {
        console.log('Error installing service worker: ', err);
      });
    }
  </script>
  -->
</head>
<body>
  <light-speed-app>Loading...</light-speed-app>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="LightSpeed.css">
  <!--<link rel="stylesheet" href="vendor/primeui/themes/black-tie/theme.css">-->
  <link rel="stylesheet" href="vendor/primeui/themes/LightSpeed/theme.css">
  <link rel="stylesheet" href="vendor/primeui/primeui-ng-all.css">
  <link rel="stylesheet" href="vendor/primeui/primeui.css">
  <link rel="stylesheet" href="vendor/primeui/primeui-all.css">
  
  
  
  <script src="vendor/es6-shim/es6-shim.js"></script>
  <script src="vendor/reflect-metadata/Reflect.js"></script>
  <script src="vendor/systemjs/dist/system.src.js"></script>
  <script src="vendor/zone.js/dist/zone.js"></script>

  <script>
    System.import('system-config.js').then(function () {
      System.import('main');
    }).catch(console.error.bind(console));
  </script>
</body>
</html>
