.sub-heading
{
margin-left: 8%;
margin-right: 8%
}

.sub-heading1
{
margin-top:2%;
margin-left: 8%;
margin-right: 8%;
}

.img-div
{
margin-left: 9%;
height:5%;
width:58%;
border:2px solid red
}

.row-margin
{
    margin-top:2%
}
.input-text-width
{
    width: 83%;
}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

#navcontainer ul li { display: inline; }

.anchor
{
  text-decoration: none;   
}

.button{
    background-color: #71C3B3;    
    width: 110px;
    box-shadow: none;    
    height: 32px;
    color: #ffffff;   
    border-style: none;
}

.btn-blue
{
background-color:    #C8E2ED;
}

.btn-brown
{
background-color:    #E77779;
}
.btn-app
{
   background-color:    #E77779; 
}

.text-color-heading
{
 color:#636363;   
}

body
{
     color:#636363; 
}

.app-container
{
    border:1px solid #D8D8D8;
}

/**********************************Star css***********************************/
form .stars {
  background: url("stars.png") repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}
 
form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}




/*****************************************Star css***************************/


.tile-grid
{
  background-color: #F6F6F6;
  border: 1px solid #E8E8E8;

}

/*.tile-grid-image:hover
{
    
}*/

.product-img
{
    border: 1px solid #E8E8E8;
    margin-left: 50px;
    margin-right: 50px;
}

/*table tr td
{
  border: 1px solid #E8E8E8;
}*/


.TFtable{
		width:100%; 
		border-collapse:collapse; 
	}
  .TFtable tr{ 
    height: 35px;
		padding:7px; 
    border: 1px solid #E8E8E8;
	}
	/*.TFtable td{ 
		padding:7px; border: 1px solid #E8E8E8;
	}*/
	/* provide some minimal visual accomodation for IE8 and below */
	/*.TFtable tr{
		background: #b8d1f3;
	}*/
	/*  Define the background color for all the ODD background rows  */
	.TFtable tr:nth-child(odd)
  { 
		background: #F9F9F9;
	}
	/*  Define the background color for all the EVEN background rows  */
	.TFtable tr:nth-child(even)
  {
		background: #FFFFFF;
	}
  
  .TFtable td:nth-child(even)::before
  {
		content: ":";
    margin:63px;
	}
  
  
  
  
  
  